@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
/* 
            .mainback {
                width: 100vw;
                height: 100vh;
                background-color: black;
                /*  
            } */

            .amain {
                width: 100vw;
                height: 100vh;
                background-color: rgb(45, 42, 42);
                       display: flex;
                
                z-index: 1;

            }

            .acontent {
                width: 40vw;
                height: 65vh;
                background-color: rgb(255, 255, 255);
                border-radius: 25px 25px 25px 25px;
                justify-content: center;
                align-items: center;
                margin:5% 0 0 30% ;
            }

            .apageTitle {
                /* position: relative; */
                font-size: 2.7rem;
                font-family: 'Poppins', sans-serif;
                /* font-weight:1200; */
                font-style: italic;
                margin-left: 10vw;
                color:rgb(177, 55, 7);
                z-index: 1;
            }

            .asecondaryTitle {
                font-size: 1.7rem;
                ;
                /* color:rgb(1, 49, 18); */
                color: #000000;
                margin-left: 5vw;
                font-weight: bolder;
                font-style: italic; 
                font-family: 'Poppins', sans-serif;
            }

            .aformEntry {
                display: block;
                margin: 30px auto;
                height: 6vh;
                padding: 10px;
                border-radius: 2px;
                border: none;
                transition: all 0.5s ease 0s;
                border-radius: 20px;
            }

            .aname {
                background-color: #ebebeb;
                color: #090909;
            
                width: 20vw;
                border: 5px solid rgb(177, 55, 7);
           
            }

            .aname:hover {

                width: 25vw;
                transition: ease 0.5s;
            
            }

            .aemail {
                background-color: #ebebeb;
                color: rgb(9, 9, 9);
                width: 20vw;
   
                border: 5px solid rgb(177, 55, 7);;
                ;
                
            }

            .aemail:hover {
               
                width: 25vw;
                transition: ease 0.5s;
     
            }

            .asubmit {
                position: relative;
                width: 22vw;
                height: 8vh;
                color: white;
                background-color: rgb(0, 0, 0);;
                font-size: 20px;
                position: absolute;
                right: 260;
                bottom: 80;
                border: 5px solid #ffffff;
                border-radius: 25px;
                margin-left: 9vw;

            }

            .asubmit:hover {
                background-color: rgb(131, 40, 3);
             
                
            }
            .awelcome{
                margin-left: 35vw;
                font-weight: bold;
                font-size: 3rem;
                color:balck
            }
            .admin{
                font-weight: bolder;
                font-size: 3rem;
               color:
                rgb(177, 55, 7);
            }
            @media only screen and (max-width:760px){
                .amain {
                width: 100vw;
                height: 100vh;
                background-color: rgb(45, 42, 42);
                       display: flex;
                
                z-index: 1;

            }

            .acontent {
                width: 95vw;
                height: 65vh;
                background-color: rgb(255, 255, 255);
                border-radius: 25px 25px 25px 25px;
                justify-content: center;
                align-items: center;
                margin-left:auto;
                margin-right: auto;
            }

            .apageTitle {
                /* position: relative; */
                font-size: 1.7rem;
                font-family: 'Poppins', sans-serif;
                /* font-weight:1200; */
                font-style: italic;
                text-align: center;
                margin-left:10vw;
                color:rgb(177, 55, 7);
                z-index: 1;
            }

            .asecondaryTitle {
                font-size: 1rem;
                ;
                /* color:rgb(1, 49, 18); */
                color: #000000;
                margin-left: auto;
                margin-right: auto;
                font-weight: bolder;
                font-style: italic; 
                font-family: 'Poppins', sans-serif;
                text-align: center;
            }

            .aformEntry {
                display: block;
                /* margin: 30px auto; */
                width: 80vw;
                height: 6vh;
                padding: 10px;
                border-radius: 2px;
                border: none;
                transition: all 0.5s ease 0s;
                border-radius: 20px;
                border: 5px solid rgb(177, 55, 7);
                background-color: #ebebeb;
                color: #090909;
            }

            .aname:hover {
                
                width: 80vw;
/* width: 25vw;
transition: ease 0.5s; */

}.aemail:hover {
                
                width: 80vw;
}

            .asubmit {
                position: relative;
                width: 60vw;
                height: 8vh;
                color: white;
                background-color: rgb(0, 0, 0);;
                font-size: 20px;
                position: absolute;
                right: 260;
                bottom: 80;
                border: 5px solid #ffffff;
                border-radius: 25px;
                margin-left: 9vw;

            }

            /* .asubmit:hover {
                background-color: rgb(131, 40, 3);
             
                
            } */
            .awelcome{
                /* margin-left:auto; */
                text-align: center;
                margin-left: auto;
                font-weight: bold;
                font-size: 1.5rem;
                color:black;
            }
            .admin{
                font-weight: bolder;
                font-size: 1rem;
               color:
                rgb(177, 55, 7);
            }
            }